<p id="notice"><%= notice %></p>


<h1><%=t('navbar.contact_us')%></h1>

<table>
  <thead>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%=t('titles.app_title')%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/contact_us.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("p").on({
    mouseenter: function(){
      $(this).css("background-color", "lightgray");
    },
    mouseleave: function(){
      $(this).css("background-color", "#99c0ff");
    },
    click: function(){
      $(this).css("background-color", "lightyellow");
    }  
  });
});
</script>
  </thead>

  <tbody>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  </tbody>
</table>

<br>

<p><%= link_to t('contact.contact_us'), new_contact_u_path %></p>
