<!-- Defines a consistent footer that will be found on each page.
    This has been defined as a partial so that it can be consistently
    called by the overall application file to apply to all pages-->

<footer>
  <p><%=t('general.footer')%></p>
</footer>
